<html>
  <head> </head>
  <body>
    <div class="mainDiv">
      <!-- ^ column flex -->
      <nav class="nav">
        <div>
          <div>hangOut</div>
         <% if (loggedIn){ %>
            <form><button>log out</button></forum>
         <% } else { %>
            <a href="/login-signup">Login / Sign up</a>
         <%  } %>
        </div>
      </nav>
      <div class="mainBody">
            <% if (loggedIn && isMember) { %>
                <div class="isMemberGrids">
                    <% msgs.forEach(message => { %>
                        <div class="individualMsgs" >
                            <div class="backgroundColor" styles="background: <% msg.color %>">
                                <div class="title"></div>
                                <div class="bodyText"></div>
                            </div>
                        </div>

                    <% }) %>

                </div>
            <% } else { %>
                <div class="nonMemberGrids">

                </div>
            <% } %>
      </div>
      <div class="footer">
        <div class="footer"></div>
      </div>
    </div>
  </body>
</html>
