<html>
  <head>
    <link rel="stylesheet" href="../css/loginSignup.css" />
  </head>
  <body>
    <div class="mainDiv">
      <div class="login">
        <h1 class="welcome">welcome back &#58;&#41;</h1>
        <div class="form">
          <form action="/login" method="POST">
            <input
              class="email"
              name="email"
              type="email"
              required
              placeholder="email"
            />
            <input
              class="password"
              name="password"
              type="password"
              required
              placeholder="password"
            />
            <button class="btn log">LOGIN</button>
            <div class="forgotPass">Forgot your password?</div>
          </form>
        </div>
      </div>

      <div class="signUp">
        <h1 class="dontAlrd">Don't already have an account?</h1>
        <button
          class="btn sign"
          type="button"
          class="signUpBtn"
          onclick="showSignUp()"
        >
          sign up!
        </button>
      </div>

      <div class="signUpShow hidden">
        <form class=".form .signUp" action="signup" method="POST">
          <div class="signUpDiv">
            <div class="pSignUp">Sign up</div>
            <div class="fName-username">
              <div>
                <label for="firstName" hidden>First name</label>
                <input class="name" name="fName" placeholder="First name" />
              </div>
              <div>
                <label for="username" hidden>Username</label>
                <input
                  class="username"
                  name="username"
                  placeholder="Username"
                />
              </div>
            </div>
            <div class="email">
              <label for="email" hidden>Email</label>
              <input
                class="email"
                name="email"
                type="email"
                placeholder="Email"
              />
            </div>
            <div class="password">
              <div>
                <label for="password" hidden>Password</label>
                <input
                  class="password"
                  name="password"
                  placeholder="Password"
                />
              </div>
              <div>
                <label for="confirmPassword" hidden>Confirm password</label>
                <input
                  class="confirmPassword"
                  name="confirmPassword"
                  placeholder="Confirm Password"
                />
              </div>
            </div>
            <div>
              <button>SIGN UP</button>
            </div>
          </div>
        </form>
      </div>
      <div class="loginShow hidden">
        <h1>Already have an account?</h1>
        <button type="button" onclick="showLogin()">login</button>
      </div>
      <div class="backgroundColor"></div>
    </div>
  </body>
  <script>
    function showSignUp() {
      const logInDiv = document.querySelector(".login");
      const signUpDiv = document.querySelector(".signUp");
      logInDiv.classList.add("hidden");
      signUpDiv.classList.add("hidden");

      const signUpForm = document.querySelector(".signUpShow");
      const loginPrompt = document.querySelector(".loginShow");
      signUpForm.classList.remove("hidden");
      loginPrompt.classList.remove("hidden");
      console.log(signupForm, loginPrompt);
    }

    function showLogin() {
      const signUpForm = document.querySelector(".signUpShow");
      const loginPrompt = document.querySelector(".loginShow");

      signUpForm.classList.add("hidden");
      loginPrompt.classList.add("hidden");

      const loginDiv = document.querySelector(".login");
      const signUpPrompt = document.querySelector(".signUp");
      loginDiv.classList.remove("hidden");
      signUpPrompt.classList.remove("hidden");
    }
  </script>
</html>
