<html>
  <head> </head>
  <script>
    function showSignUp(){
      

    }

    function showLogin(){

    }
  </script>
  <body>
    <div class="mainDiv">
      <div class="login">
        <h1>welcome back</h1>
        <div>
          <forum action="/login-signup" method="POST">
            <input name="email" type="email" required placeholder="email" />
            <input
              name="password"
              type="password"
              required
              placeholder="password"
            />
            <div>Forgot your password?</div>
            <button>LOGIN</button>
          </forum>
        </div>
      </div>

      <div class="signUp">
        <h1>Don't already have an account?</h1>
        <button>sign up!</buton>
      </div>

      <div class="backgroundColor"></div>
    </div>
  </body>
</html>
