<html>
  <head>
    <link rel="stylesheet" href="../css/membership.css" />
  </head>
  <body>
    <div class="mainDiv">
      <div class="bg1"></div>
      <div class="bg2"></div>
      <div class="membershipDiv">
        <div class="text">
          <div>Membership</div>
        </div>
        <% if (error) { %>
        <div class="error">
          <div><%= error %></div>
        </div>
        <% } %>
        <div class="options">
          <div class="free">
            <div>Free</div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet
              <br />
              consectetur adipiscing elit quisque faucibus ex. Adipiscing elit
              <br />
              quisque faucibus ex sapien vitae pellentesque.
            </div>
            <form action="/membership" method="POST">
              <button class="btn">sign up</button>
            </form>
          </div>
          <div class="free">
            <div>Free</div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet
              <br />
              consectetur adipiscing elit quisque faucibus ex. Adipiscing elit
              <br />
              quisque faucibus ex sapien vitae pellentesque.
            </div>
            <form action="/membership" method="POST">
              <button class="btn">sign up</button>
            </form>
          </div>
          <div class="free">
            <div>Free</div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet
              <br />
              consectetur adipiscing elit quisque faucibus ex. Adipiscing elit
              <br />
              quisque faucibus ex sapien vitae pellentesque.
            </div>
            <form action="/membership" method="POST">
              <button class="btn">sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
