<html>
  <head> </head>
  <body>
    <div class="mainDiv">
      <div>
        <div class="background"></div>
        <div class="background"></div>
        <div>
          <div>Membership</div>
        </div>
        <div>
          <div>
            <div>Free</div>
            <div>blurb</div>
            <forum action="/membership" method="POST">
              <button>sign up</button>
            </forum>
          </div>
          <div>
            <div>Free</div>
            <div>blurb</div>
            <forum action="/membership" method="POST">
              <button>sign up</button>
            </forum>
          </div>
          <div>
            <div>Free</div>
            <div>blurb</div>
            <forum action="/membership" method="POST">
              <button>sign up</button>
            </forum>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
