<html>
  <head>
    <link rel="stylesheet" href="../css/membership.css" />
  </head>
  <body>
    <div class="mainDiv">
      <div class="bg1"></div>
      <div class="bg2"></div>
      <div class="membershipDiv">
        <div class="text">Membership</div>
        <% if (error) { %>
        <div class="error">
          <div><%= error %></div>
        </div>
        <% } %>
        <div class="options">
          <div>
            <div>Free</div>
            <div>blurb</div>
            <forum action="/membership" method="POST">
              <button>sign up</button>
            </forum>
          </div>
          <div>
            <div>Free</div>
            <div>blurb</div>
            <forum action="/membership" method="POST">
              <button>sign up</button>
            </forum>
          </div>
          <div>
            <div>Free</div>
            <div>blurb</div>
            <forum action="/membership" method="POST">
              <button>sign up</button>
            </forum>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
