<html>
  <head>
    <link rel="stylesheet" href="../css/membership.css" />
  </head>
  <body>
    <div class="mainDiv">
      <div class="bg1"></div>
      <div class="bg2"></div>
      <div class="membershipDiv">
        <div class="text">
          <div>Membership Options</div>
        </div>
        <% if (error) { %>
        <div class="error">
          <div><%= error %></div>
        </div>
        <% } %>
        <div class="options">
          <div class="free">
            <div>Basic</div>
            <div class="blurb">
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet
              <br />
              consectetur adipiscing elit quisque faucibus ex. Adipiscing elit
              <br />
              quisque faucibus ex sapien vitae pellentesque.
            </div>
            <form action="/membership" method="POST">
              <div>
                <h1 class="price">$0.00</h1>
                <p>per month</p>
              </div>
              <button class="btn">SELECT</button>
            </form>
          </div>
          <div class="free">
            <div>Standard</div>
            <div class="blurb">
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet
              <br />
              consectetur adipiscing elit quisque faucibus ex. Adipiscing elit
              <br />
              quisque faucibus ex sapien vitae pellentesque.
            </div>
            <form action="/membership" method="POST">
              <div>
                <h1 class="price">$0.00</h1>
                <p>per month</p>
              </div>
              <button class="btn">SELECT</button>
            </form>
          </div>
          <div class="free">
            <div>Premium</div>
            <div class="blurb">
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet
              <br />
              consectetur adipiscing elit quisque faucibus ex. Adipiscing elit
              <br />
              quisque faucibus ex sapien vitae pellentesque.
            </div>
            <form action="/membership" method="POST">
              <div>
                <h1 class="price">$0.00</h1>
                <p>per month</p>
              </div>
              <button class="btn">SELECT</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
