<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css"
    />
    <link rel="stylesheet" href="../css/newMsg.css" />
  </head>
  <body>
    <div class="mainDiv">
      <% if (!loggedIn){ %>
      <div>whomp you must login to add a post</div>
      <a href="/login-signup">login or sign up</a>
      <% } else { %>
      <div class="msgParentDiv">
        <div>new msg!</div>
        <form class="newMsgForm" action="/new-message" method="POST">
          <div>
            <label for="title" hidden></label>
            <input class="title" name="title" placeholder="title" />
          </div>
          <div>
            <label for="body" hidden></label>
            <input
              class="body"
              name="body"
              placeholder="what would you like to say to the world?"
            />
          </div>
          <button class="btn">publish</button>
        </form>
        <a class="cancel" href="/">cancel</a>
      </div>
      <%}%>
    </div>
  </body>
</html>
