<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css"
    />
    <link rel="stylesheet" href="../css/newMsg.css" />
  </head>
  <body>
    <div class="mainDiv">
      <% if (!loggedIn){ %>
      <div>whomp you must login to add a post</div>
      <a href="/login-signup">login or sign up</a>
      <% } else { %>
      <div class="msgParentDiv">
        <div>new msg!</div>
        <form class="newMsgForm" action="/new-message" method="POST">
          <div>
            <label for="title" hidden></label>
            <input class="title" name="title" placeholder="title" />
          </div>
          <div>
            <label for="body" hidden></label>
            <textarea
              class="body"
              name="body"
              placeholder="what would you like
              to say to the world?"
            >
            </textarea>
          </div>
          <div>
            <label>background color for your msg?</label>
            <div class="colorPicker"></div>
            <input hidden name="color" class="colorInput" />
          </div>
          <button class="btn">publish</button>
        </form>
        <a href="/">cancel</a>
      </div>
      <%}%>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
  <script>
    const pickerEl = document.querySelector(".colorPicker");
    const colorInput = document.querySelector(".colorInput");
    const picker = Pickr.create({
      el: pickerEl,
      theme: "classic",

      default: "#ffffffcc",

      components: {
        preview: true,
        opacity: true,
        hue: true,

        interaction: {
          input: true,
          save: true,
        },
      },
    });

    picker.on("save", (color) => {
      const rgbaHex = color.toHEXA().toString();
      colorInput.value = rgbaHex;
      picker.hide();
    });
  </script>
</html>
