* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  height: 100vh;
  width: 100vw;
}

.mainDiv,
.nav {
  display: flex;
}

.mainDiv,
.nav {
  flex-direction: column;
}

.nav {
  justify-content: center;
  align-items: center;
}

.titleDivider {
  height: 400px;
}
