* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  height: 100vh;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.mainDiv,
.nav,
.underTitle,
.mainBody,
.anon {
  display: flex;
}

.nonMemberGrids {
  display: grid;
  grid-template-columns: repeat(5, 345px);
  grid-template-rows: repeat(3, 250px);
  gap: 12px;
  margin-top: 20px;
}

.mainDiv,
.nav,
.anon {
  flex-direction: column;
}

.nav,
.mainBody,
.anon {
  justify-content: center;
  align-items: center;
}

.individualMsgs {
  height: 100%;
  width: 100%;
}

.nav {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  height: 200px;
}

.digitalCafe {
  font-size: 3rem;
  font-style: italic;
}

.titleDivider {
  text-align: center;
  height: 70%;
}

.anon {
  height: 30%;
}

.underTitle {
  position: relative;
  width: 100%;
  height: 30%;
}

.login-signUp {
  position: absolute;
  transform: translateX(100%);
}

.individualMsgs {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 5%;
}

.backgroundColor {
  height: 70%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.title {
  height: 20%;
  font-size: 1.5rem;
}

.bodyText {
  height: 80%;
  padding-top: 7px;
}

.divider {
  border: 1px solid rgb(179, 179, 179);
}

.anonText {
  font-size: 1.2rem;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

.dotDivider {
  border: 1px dotted black;
}
