* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  height: 100vh;
  width: 100vw;
}

.mainDiv,
.nav,
.underTitle {
  display: flex;
}

.mainDiv,
.nav {
  flex-direction: column;
}

.nav {
  justify-content: center;
  align-items: center;
}

.nav,
.underTitle {
  width: 100%;
}

.titleDivider {
  height: 100px;
  line-height: 100px;
  text-align: center;
}
