* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  height: 100vh;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.mainDiv,
.nav,
.underTitle,
.mainBody,
.anon {
  display: flex;
}

.grids {
  display: grid;
  grid-template-columns: repeat(5, 345px);
  grid-template-rows: repeat(3, 250px);
  gap: 12px;
  margin-top: 20px;
}

.mainDiv,
.nav,
.anon {
  flex-direction: column;
}

.nav,
.mainBody,
.anon {
  justify-content: center;
  align-items: center;
}

.individualMsgs {
  height: 100%;
  width: 100%;
}

.nav {
  margin-left: 25px;
  margin-right: 25px;
  width: 100%;
  height: 200px;
}

.digitalCafe {
  font-size: 3rem;
}

.digitalCafe,
.becomeMemberBlurb > a {
  font-style: italic;
}

.becomeMemberBlurb > div {
  margin-bottom: 13px;
}

.becomeMemberBlurb,
.titleDivider {
  text-align: center;
}

.titleDivider {
  height: 70%;
}

.newMsg {
  padding-top: 10px;
}

.underTitle {
  width: 100%;
  max-width: 100%;
  height: 30%;
  justify-content: space-between;
}

.welc {
  width: 55%;
  text-align: end;
}

.login-signUp {
  width: 45%;
  text-align: end;
}

.individualMsgs {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 5%;
}

.backgroundColor {
  height: 70%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.title {
  height: 20%;
  font-size: 1.5rem;
}

.bodyText {
  height: 80%;
  padding-top: 7px;
}

.divider {
  border: 1px solid rgb(179, 179, 179);
}

.anon {
  height: 30%;
}

.anonText {
  font-size: 1.2rem;
}

.dotDivider {
  border: 1px dotted black;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

.btn {
  cursor: pointer;
}
