* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  height: 100vh;
  width: 100vw;
}

.mainDiv,
.nav,
.underTitle,
.mainBody {
  display: flex;
}

.nonMemberGrids {
  display: grid;
  grid-template-columns: repeat(5, 345px);
  grid-template-rows: repeat(3, 250px);
  gap: 12px;
}

.mainDiv,
.nav {
  flex-direction: column;
}

.nav,
.mainBody {
  justify-content: center;
  align-items: center;
}

.nav,
.underTitle {
  width: 100%;
}

.nav {
  height: 125px;
}

.titleDivider {
  text-align: center;
  height: 70%;
}

.underTitle {
  height: 30%;
}

.individualMsgs {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 5%;
}

.backgroundColor {
  height: 80%;
  border-radius: 5%;
}
