* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}

.mainDiv,
.login,
.signUp,
.signUpShow,
.loginShow,
.signUpDiv,
form {
  display: flex;
}

.login,
.signUp,
.signUpShow,
.loginShow,
.signUpDiv,
form {
  flex-direction: column;
}

.hidden {
  display: none;
}

.login,
.signUp,
.signUpShow,
.loginShow {
  justify-content: center;
  align-items: center;
}

.login,
.signUp,
.signUpShow,
.loginShow {
  width: 100%;
  height: 100%;
}

.welcome {
  height: 100px;
}

/* .signUp {
  background-color: rgb(195, 193, 248);
} */

.form,
.signUpDiv {
  width: 370px;
}

form,
.signUpDiv {
  gap: 13px;
}

input:focus {
  outline: 2px solid rgb(68, 43, 119);
}

.name,
.email,
.password,
.confirmPassword,
.username {
  border: none;
  height: 50px;
  background-color: rgb(227, 227, 227);
  padding-left: 10px;
}

.forgotPass {
  text-align: center;
  padding-top: 40px;
}

.btn.log,
.btn.sign,
.loginBtnFromSignUp,
.registerBtn {
  height: 40px;
  border-radius: 20px;
  width: 150px;
  align-self: center;
  border: none;
  cursor: pointer;
}

.btn.log,
.registerBtn {
  background-color: rgb(195, 193, 248);
  margin-top: 20px;
}

.dontAlrd,
.alrdHave {
  padding-bottom: 130px;
}

.signUpDiv {
  height: 400px;
}

.backgroundColor {
  position: absolute;
  z-index: -1;
  transform: translateX(100%);
  background-color: rgb(195, 193, 248);
  height: 100%;
  width: 50%;
}

.slideLeft {
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.slideRight {
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out;
}
