* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}

.mainDiv,
.login,
.signUp,
.signUpShow,
.loginShow,
.signUpDiv,
form {
  display: flex;
}

.login,
.signUp,
.signUpShow,
.loginShow,
.signUpDiv,
form {
  flex-direction: column;
}

.hidden {
  display: none;
}

.login,
.signUp,
.signUpShow,
.loginShow {
  justify-content: center;
  align-items: center;
}

.login,
.signUp,
.signUpShow,
.loginShow {
  width: 100%;
  height: 100%;
}

.welcome {
  height: 100px;
}

.signUp {
  background-color: rgb(195, 193, 248);
}

.form,
.signUpForm {
  width: 370px;
}

form,
.signUpDiv {
  gap: 13px;
}

input:focus {
  outline: 2px solid rgb(68, 43, 119);
}

.email,
.password,
.name,
.confirmPassword,
.username {
  border: none;
  height: 50px;
  background-color: rgb(227, 227, 227);
  padding-left: 10px;
}

.forgotPass {
  text-align: center;
  padding-top: 40px;
}

.btn.log,
.btn.sign {
  height: 40px;
  border-radius: 20px;
  width: 150px;
  align-self: center;
  border: none;
  cursor: pointer;
}

.btn.log {
  background-color: rgb(195, 193, 248);
  margin-top: 20px;
}

.dontAlrd {
  padding-bottom: 130px;
}

.signUpDiv {
  height: 400px;
}
