* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.mainDiv,
.membershipDiv,
.text,
.free,
form > div {
  display: flex;
}

.options {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
}

.mainDiv,
.membershipDiv,
.free,
form > div {
  flex-direction: column;
}

.free {
  align-items: center;
}

.free {
  justify-content: space-around;
}

.membershipDiv,
.text,
form > div {
  justify-content: center;
  align-items: center;
}

/* flex + grid above */

.mainDiv {
  height: 100vh;
  width: 100vw;
}

.membershipDiv {
  width: 100%;
  height: 100%;
}

.text {
  width: 100%;
}

.text {
  height: 30%;
}

.options {
  height: 70%;
  margin-bottom: 300px;
}

.mainDiv {
  position: relative;
}

.bg1,
.bg2 {
  position: absolute;
  z-index: -1;
}

.bg1,
.bg2 {
  height: 50%;
  width: 100%;
}

/* positioning + WxH above */

.text > div {
  align-self: center;
  font-size: 3rem;
}

.free {
  border: 1px solid rgb(164, 122, 211);
  border-radius: 10px;
  padding: 10px;
  box-shadow: -10px 10px 15px 0px rgb(92, 92, 92);
}

.btn {
  height: 40px;
  border-radius: 20px;
  width: 170px;
  align-self: center;
  border: none;
  cursor: pointer;
  background: none;
  border: 2px solid rgb(87, 58, 104);
}

.blurb {
  text-align: center;
}

.free > div:first-child {
  font-size: 3rem;
  font-weight: 600;
}

form > div {
  margin-bottom: 40px;
}

h1 {
  font-weight: 100;
}

.bg1 {
  background-image: url("../imgs/stars.jpg");
}

.bg2 {
  background-image: url("../imgs/golden.jpg");
  bottom: 0;
}
