* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv,
.membershipDiv,
.text,
.free {
  display: flex;
}

.options {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 20px;
}

.membershipDiv,
.free {
  flex-direction: column;
}

.mainDiv {
  justify-content: center;
}

.free {
  align-items: center;
}

.free {
  justify-content: space-around;
}
.membershipDiv,
.text {
  justify-content: center;
  align-items: center;
}

/* flex + grid above */

.mainDiv {
  height: 100vh;
  width: 100vw;
}

.membershipDiv {
  width: 100%;
  height: 100%;
}

.text {
  width: 100%;
}

.text {
  height: 30%;
}

.options {
  height: 70%;
  margin-bottom: 300px;
}

.mainDiv {
  position: relative;
}

.bg1,
.bg2 {
  position: absolute;
  z-index: -1;
}

.bg1,
.bg2 {
  height: 50%;
}

/* positioning + WxH above */

.text > div {
  align-self: center;
}

.free {
  border: 1px solid rgb(164, 122, 211);
  border-radius: 10px;
}

.btn {
  height: 40px;
  border-radius: 20px;
  width: 150px;
  align-self: center;
  border: none;
  cursor: pointer;
  background: none;
  border: 2px solid rgb(87, 58, 104);
}
