* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.membershipDiv {
  display: flex;
}

.memebrshipDiv {
  flex-direction: column;
}

/* flex + grid above */

.mainDiv {
  height: 100%;
  width: 100%;
}

.mainDiv {
  position: relative;
}

.bg1,
.bg2 {
  position: absolute;
  z-index: -1;
}

.bg1,
.bg2 {
  height: 50%;
}
