* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.mainDiv,
.msgParentDiv,
form {
  display: flex;
}

.msgParentDiv,
form {
  flex-direction: column;
}

.mainDiv,
.msgParentDiv,
form {
  justify-content: center;
  align-items: center;
}

form {
  gap: 10px;
}

.mainDiv {
  height: 100vh;
  width: 100vw;
  background-image: url("../imgs/stars.jpg");
}

.msgParentDiv > div:first-child {
  font-size: 3rem;
}

.msgParentDiv {
  border: 1px solid rgb(164, 122, 211);
  border-radius: 10px;
  padding: 10px;
  box-shadow: -10px 10px 15px 0px rgb(92, 92, 92);
  min-width: 30%;
  max-height: 100%;
  gap: 50px;
}

.title,
.body {
  color: black;
  border-radius: 10px;
  width: 360;
}

.title {
  height: 30px;
}

.body {
  height: 150px;
}

.btn {
  height: 40px;
  border-radius: 20px;
  width: 170px;
  cursor: pointer;
  background: none;
  border: 2px solid rgb(87, 58, 104);
  margin-top: 35px;
}

.btn:hover {
  box-shadow: 0 0 20px 0px rgb(92, 92, 92);
}

.cancel {
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgb(61, 61, 61);
  width: 170px;
  cursor: pointer;
  justify-self: center;
  text-align: center;
}

a,
a:visited {
  text-decoration: none;
}
